a.navbar-brand {
    font-family: "源ノ角ゴシック";
    font-size: 1.5rem;
}

body {
    font-family: "源ノ角ゴシック Normal";
    background: #f4f2f0;
}

h1.heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e3e3e;
    margin: 1.5rem 0%;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4e4e4e;
}


/** ヘッダーロゴ **/
img.logo {
    width: 90%;
}


/** ヘッダードロップダウンメニュー **/
ul.navbar-nav {
    text-align: right;
}

li.nav-item {
    color: #ffffff;
    font-weight: bold;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




/** トップページの左右余白 **/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/** トップページのボタン **/
a.signup_btn.btn-primary.btn-block {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #4a154b;
    box-shadow: 0 0 3px grey;
    background: #e7dde8;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 1.1rem;
}

a.signup_btn.btn-primary.btn-block:hover {
    color: #fff;
    background: #4a154b;
    border: solid 2px #fff;
}

a.login_btn.btn-primary.btn-block {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #4a154b;
    box-shadow: 0 0 3px grey;
    background: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 1.1rem;
}

a.login_btn.btn-primary.btn-block:hover {
    color: #fff;
    background: #4a154b;
    border: solid 2px #fff;
}

/** トップページの画像 **/
img.img-fluid {
    margin: 2.5rem 0 0 0;
}


/** サインアップ画面 **/
input#name, input#email, input#password, input#password_confirmation {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px #a27fa3;
    box-shadow: 0 0 5px grey;
    background: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 1.1rem;
}

input.btn.btn-primary.btn-block {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px #ffffff;
    box-shadow: 0 0 5px grey;
    background: #4a154b;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
}

input.btn.btn-primary.btn-block:hover {
    color: #4a154b;
    background: #ffffff;
    border: solid 2px #a27fa3;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    font-weight: bold;
}


/** index.blade.php **/
.newticker_regist.text-right {
    padding-right: 15px;
    margin-top: 30px;
}

ul.mystocks.list-unstyled.mt-4.row {
    border-bottom: solid 1px #4a154b;
    padding-bottom: 10px;
}

.button-icon.col-6 {
    padding: 0px;
    text-align: center;
}

td.operation.row {
    border: 0px;
}

/** newregister.blade.php **/
.formbutton-area.text-right.row {
    width: 100%;
    margin: 1.5rem auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}